@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, .headline {
  font-weight: bold;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

p {
  font-style: normal;
}

sub {
  font-style: italic;
}

p, sub, .headline {
  font-size: 16px;
}

.headline {
  text-transform: uppercase;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f5f4f0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 350px;
  border-radius: 1rem;
}

.container {
  box-sizing: border-box;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container > .headline {
  color: #e1624f;
  margin-top: 1rem;
}

.title-list .title .headline {
  color: #e1624f;
}

.title-list {
  margin-bottom: 2rem;
}

.container h1 {
  margin: 1rem 0;
}

.desc sub {
  text-align: center;
}

.division {
  height: 1px;
  background-color: #d9d9d9;
  width: 100%;
  margin: 2rem auto;
}

.card-travel {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.content p {
  padding: 1rem 0;
}

.content li {
  margin: 1rem 0;
}

.content li .headline {
  display: inline;
}

.historia {
  color: #0c51a7;
}

.casais {
  color: #591b98;
}

.familia {
  color: #e5245e;
}

.orcamento {
  color: #e95e10;
}

footer {
  background-color: #1b1b1b;
  padding: 2rem;
  border-radius: 2rem 2rem 0 0;
  bottom: 0;
}

footer .desc {
  text-align: justify;
  color: #f5f4f0;
}

footer .credits {
  text-align: center;
  color: #f5f4f0;
  margin-top: 1rem;
}

footer .credits a {
  text-decoration: none;
  color: #591b98;
  transition: 0.3s;
}

footer .credits a:hover {
  color: #6f21be;
  text-shadow: 0 0 10px #591b98;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

header .logo {
  margin-right: 1rem;
  width: 100%;
  height: 1.5rem;
  border-radius: 0 !important;
}

nav {
  position: fixed;
  top: 55px;
  right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 1rem 1rem;
  border-radius: 2rem;
  background-color: #4a4a4a;
}

nav .container {
  display: flex;
  flex-direction: row;
}

nav li {
  list-style: none;
  margin: 0 2rem;
}

nav li a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

nav li a:hover {
  color: #fff;
  transform: scale(110%);
}

@media (max-width: 1000px) {
  nav {
    position: fixed;
    top: 20px;
    right: 80px;
    padding: 0.8rem;
    width: 80%;
  }
  img {
    width: 100%;
    border-radius: 1rem;
    height: 15rem;
  }
  .desc sub {
    text-align: center;
  }
  .title-list .title {
    text-align: center;
    margin: 1rem 0;
  }
  .content {
    width: 100%;
  }
  .content h3, p, li, .headline {
    text-align: center;
  }
}
@media (max-width: 800px) {
  nav {
    position: fixed;
    top: 20px;
    right: 55px;
    padding: 0.3rem;
    width: 80%;
  }
  img {
    width: 100%;
    border-radius: 1rem;
    height: 9rem;
  }
  footer {
    padding: 1rem;
  }
}
@media (max-width: 600px) {
  header .logo {
    display: none;
  }
  nav {
    position: fixed;
    top: 20px;
    right: 40px;
    padding: 0.3rem;
    width: 80%;
  }
  nav li {
    margin: 0 0.5rem;
  }
  nav li a {
    font-size: 12px;
  }
  main {
    width: 100%;
  }
  img {
    width: 100%;
    border-radius: 1rem;
  }
}
@media (max-width: 400px) {
  h1, h2, h3, .headline {
    font-size: 20px;
    text-align: center;
    margin: 1rem 0;
  }
  nav {
    position: fixed;
    top: 20px;
    right: 40px;
    padding: 0.8rem 0.5rem;
    width: 80%;
  }
  nav .container {
    width: 100%;
  }
  nav .container li a {
    font-size: 12px;
  }
  img {
    width: 100%;
    border-radius: 1rem;
    height: 8rem;
  }
  .content {
    margin: 1rem 0;
  }
  .content p {
    padding: 1rem 0;
    text-align: center;
  }
  footer {
    padding: 1rem;
    background-color: #f5f4f0;
  }
  footer .desc {
    text-align: center;
    color: #1b1b1b;
  }
  footer .credits {
    margin-top: 1rem;
    background-color: #1b1b1b;
    padding: 0.7rem;
    border-radius: 1rem;
  }
  footer .credits {
    font-size: 16px !important;
  }
}/*# sourceMappingURL=style.css.map */